.blog-feed-listing {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}
.blog-feed-single-post {
    margin: 20px;
    padding: 20px;
    box-shadow: 10px 10px 50px 0px rgb(194, 194, 194);
    border-radius: 5px;
    outline: 1px solid rgba(0, 0, 0, 0);
    transition: all .3s ease;
}
.blog-feed-single-post:hover {
    outline: 1px solid black;
    outline-offset: 10px;
}
.blog-feed-single-post h2 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.blog-feed-single-post p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}